<!DOCTYPE html>
<html>
  <head>
    <title>Beauty Hair Salon</title>
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="public/css/styles.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <br>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">another one by the one and only
          <a target="_blank" href="http://bigzoo.me">bigzoo</a>
        </p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="public/js/scripts.js"></script>
  </body>
</html>
